/* src/components/ReserveFlight.module.css */
.seatContainer {
    height: 55vh; /* Top 3/4 of the page */
    overflow-y: auto; /* Add vertical scroll bar if necessary */
    margin-bottom: 20px; /* Space below the container */
}

.seatGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

.seat {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    border-radius: 5px; /* Rounded corners */
}

.seat.booked {
    background-color: #ffcccc; /* Red for booked seats */
}

.seat.available {
    background-color: #ccffcc; /* Green for available seats */
}

.reservationForm {
    margin: auto;
    display: grid; /* to use css-grid */
    grid-template-columns: 1fr 1fr; /* creates 2 columns */
    gap: 20px; /* creates a gap between the columns and rows */
    max-width: 800px;
}

.formButton {
    grid-column: span 2;
    padding: 10px 20px;
    background-color: #4CAF50; /* Green background */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formGroup {
    display: flex;
    flex-direction: column;
}